<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.softwareupdate</string>
        <key>RunAtLoad</key>
        <true/>
	<key>ProgramArguments</key>
	<array>
		 <string>/usr/sbin/softwareupdate</string>
	         <string>--download</string>
                 <string>--install</string>
		 <string>--all</string>
                 <string>&gt;</string>
                 <string>/var/log/up2date.log</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
        	<key>Hour</key>
        	<integer>00</integer>
        	<key>Minute</key>
        	<integer>03</integer>
    	</dict>
        <key>UserName</key>
        <string>root</string>
        <key>GroupName</key>
        <string>wheel</string>
</dict>
</plist>

